

<section class="home_banner_area m-0" style="
    padding-bottom: 5%;">
		<!-- <div class="banner_inner"> -->
			<div class="container p-0">
				<div class="row align-items-center ">
					<div class="col-lg-6">
						<div class="banner_content" style="
						margin-top: 25%;
						margin-bottom: 15%;
						padding-left: 10%;
						padding-right: 10%;
					">
							<h3>Hey There !</h3>
							<h1 class="text-uppercase">I am Aman!</h1>
							<h5 class="text-muted text-md-center text-lg-left">A Curious person, intrested in writing codes that deploy changes and affect world!</h5>
							<div class="social_icons my-5">
								<a href=" {{ site.twitter_url }} "><i class="ti-twitter-alt"></i></a>
								<a href=" {{ site.linkedin_url }} "><i class="ti-linkedin"></i></a>
								
								<a href=" {{ site.facebook_url }} "><i class="ti-facebook"></i></a>
								<a href=" {{ site.github_url }} "><i class="ti-github"></i></a>
								<a href=" {{ site.instagram_url }} "><i class="ti-instagram"></i></a>
							</div>
							<a class="primary_btn" href="#"><span>Download CV</span></a>
						</div>
					</div>
					<div class="col-lg-4">
						<div class="home_right_img">
							<img class="img-fluid" src="img/banner/home-right.png" alt="">
						</div>
					</div>
					{% include recentblogs.html %}
				</div>
			<!-- </div> -->
		</div>
	</section>