<!doctype html>
<html lang="en">

<head>
	<!-- Required meta tags -->
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<link rel="icon" href="img/favicon.png" type="image/png">
  <title>Breed Portfolio - Blog</title>
	<!-- Bootstrap CSS -->
	<link rel="stylesheet" href="css/bootstrap.css">
	<link rel="stylesheet" href="vendors/linericon/style.css">
  <link rel="stylesheet" href="css/themify-icons.css">
  <link rel="stylesheet" href="vendors/owl-carousel/owl.theme.default.min.css">
	<link rel="stylesheet" href="vendors/fontawesome/css/all.min.css">
	<link rel="stylesheet" href="vendors/owl-carousel/owl.carousel.min.css">
	<link rel="stylesheet" href="css/magnific-popup.css">
	<link rel="stylesheet" href="vendors/nice-select/css/nice-select.css">
	<!-- main css -->
	<link rel="stylesheet" href="css/style.css">
</head>

<body>

	<!--================ Start Header Area =================-->
    {% include navbar.html %}
    <br>
      <!-- <h1>Blogs</h1> -->
    
    <!--================ End Header Area =================-->

	<!--================Blog Area =================-->
  <section class="blog_area section-margin">
      <div class="container">
        <h1>Blogs</h1>
        <hr><br>
          {% for post in site.posts %}
          <div class="row">
            <div class="col-lg-8 mb-5 mb-lg-0">
                <div class="blog_left_sidebar">
                    <article class="blog_item">
                      <div class="blog_item_img">
                        <img class="container-fluid card-img rounded-0" src="{{ post.featureimage }}" height=300px alt="">
                        <a href="#" class="blog_item_date">
                          <h3>{{ post.date | date: "%m" }}</h3>
                          <p>{{ post.date | date: "%b" }}</p>
                        </a>
                      </div>
                      
                      <div class="blog_details">
                          <a class="d-inline-block" href="{{ post.url }}">
                              <h2>{{ post.title }}</h2>
                          </a>
                          <p>{{ post.content | truncatewords:50}}</p>
                          <ul class="blog-info-link">
                            <li><i class="far fa-user"></i> {{ post.categories }} </li>
                          </ul>
                      </div>
                    </article>
                </div>
            </div>
            </div>
          {% endfor %}
          </div>
      </div>
  </section>
  <!--================Blog Area =================-->

        
  <!--================Footer Area =================-->
	{% include footer.html %}
    <!--================End Footer Area =================-->
  

  <!-- Optional JavaScript -->
	<!-- jQuery first, then Popper.js, then Bootstrap JS -->
	<script src="js/jquery-3.2.1.min.js"></script>
	<script src="js/popper.js"></script>
	<script src="js/bootstrap.min.js"></script>
	<script src="js/stellar.js"></script>
	<script src="vendors/isotope/imagesloaded.pkgd.min.js"></script>
	<script src="vendors/isotope/isotope-min.js"></script>
	<script src="vendors/owl-carousel/owl.carousel.min.js"></script>
	<script src="js/jquery.ajaxchimp.min.js"></script>
	<script src="js/mail-script.js"></script>
	<!--gmaps Js-->
	<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCjCGmQ0Uq4exrzdcL6rvxywDDOvfAu6eE"></script>
	<script src="js/gmaps.min.js"></script>
	<script src="js/theme.js"></script>
</body>

</html>