<!doctype html>
<html lang="en">

<head>
	<!-- Required meta tags -->
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<link rel="icon" href="img/favicon.png" type="image/png">
	<title>{{ page.title }}</title>
	<!-- Bootstrap CSS -->
	{% include cssincludes.html %}
</head>

<body>

	<!--================ Start Header Area =================-->
	{% include navbar.html %}
	<!--================ End Header Area =================-->

	<!--================ content area =================-->
    
    {{ content }}
    
	<!--================ end of content area =================-->

	<!--================Footer Area =================-->
	{% include footer.html %}
	<!--================End Footer Area =================-->

	{% include scriptinclude.html %}
</body>

</html>
